/* Box Model Hack */
* {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

.body-text {
display: flex;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
align-items: center;
justify-content: center;
margin-top: 50px;
}


/******************************************
/* LAYOUT
/*******************************************/
header > nav {
     display: flex;
     justify-content: space-around;
     align-items: center;
     min-height: 8vh;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.nav-links {
    display: flex; 
    justify-content: space-evenly;
    width: 80%;
}

.nav-links li {
     list-style: none;
}
.nav-links a{
     text-decoration: none;
     letter-spacing: 2px;
     font-weight: bold;
     font-size: 14px;
     padding: 14px 16px;
     color: black;
 }

.nav-links li a:hover:not(.active){
     background-color: teal;
}

main {
    display: flex;
    
}

section {
     display: flex;
     margin: 50px ;
     height: 200px;
     
}

.welcome {
display: flex;
align-items: center;
flex-direction: column;

}

h1 h2 span p {
     display: flex;

}

.about {
     display: flex;
     align-items: center;
     flex-direction: column;
     
}

.contact{
     display: flex;
     flex-direction: column;
     align-items: center;
}

form {
     margin: 50px;
}
.contact-box{
     width: 200px;
     top: 50%;
     left: 50%;
}

.input-field{
     width: 200px;
     height: 40px;
     margin-top: 20px;
     padding: 0 10px;
     border: 1px solid black;
     border-radius: 14px;
     outline:none;
     align-content:center ;
     
}
.text-area{
     height: 100px;
     padding-top: 10px ;
}


footer {
 display: flex;
 margin-top: 200px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
