/* Box Model Hack */
* {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

.body-text {
display: flex;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
align-items: center;
justify-content: center;
padding-top: 60px

}


/******************************************
/* LAYOUT
/*******************************************/
html{
     scroll-behavior: smooth;
     font-size: 16px;
}

header > nav {
     padding-top: 10px;
     display: flex;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-links {
    display: flex; 
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
}


.nav-links li {
     list-style: none;
}

.nav-links a{
     text-decoration: none;
     letter-spacing: 1px;
     font-weight: bold;
     font-size: calc(.4rem + 1vw);
     padding: 10px;
     color: black;
 }

.fa-brands{
     margin-bottom: 5px;
}
 
/*.nav-links li a:hover:not(.active){
     background-color:rgb(0,141,137);
}*/

main {
    display: flex;
    position: relative;
}

section {
     display: flex;
     align-items:center;
     flex-direction: column;
     padding: 0 5px 50px 5px;
     
}

h1,h2,span,p {
     display: flex;
     align-items: center;
     margin: 10px;
     padding: 10px;
}

img {
    background:fixed;
     width: 50%;
}

.banner{
     margin: 0 50px;
}

.logo{
     width: 25%;
     filter: drop-shadow(2px 4px 8px #000);
}

 h1{
     font-size: calc(1.6rem + 1vw);
}

span{
     font-size: calc(.5rem + 1vw);
}

 h2 {
     font-size: calc(1.2rem + 1vw);
}

p{
     font-size: calc(.4rem + 1vw);
     max-width: fit-content;
     align-items: center;
}
.contact{
     display: flex;
     flex-direction: column;
     align-items: center;
     height: 400px;
}
 h3{
     font-size: calc(1rem + 1vw);
}
form {
     margin: 30px;
}
.contact-box{
     width: 140px;
     top: 50%;
     left: 50%;
}

.input-field {
    width: 140px;
    height: 20px;
    margin-top: 10px;
    padding: 0 0 0 10px;
    border: 1px solid black;
    border-radius: 14px;
    outline: none;
    align-content: center;
    font-size: calc(.3rem + 1vw);
}

.text-area{
     height: 100px;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/* Projects section styles*/

/* Picture slideshow on Project Page*/
.slideShow, .slideShow-container, .containers{
     max-width: 500px;
     position: relative;
     margin: auto;
     padding: inherit;
}

div .images > img {
     display: flex;
     width: 55%;
     margin-top: 25px;
}

div .info{
     text-align: center;
     font-size: calc(.3rem + 1vw);
}

.Back, .forward{
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: black;
  font-weight: bold;
  font-size: calc(.5rem + 1vw);
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

.forward{
     right: 0;
     border-radius: 4px 0 0 4px;
}

.bottom-dots{
     text-align: center;
}

/*.dots {
     cursor: pointer;
     height: 1rem;
     width: 1rem;
     margin: 10px 5px;
     background-color: #acc;
     border-radius: 80%;
     display: inline-block;
     transition: background-color 0.5s ease;
   }

   .enable, .dots:hover {
     background-color: #717161;
   }
*/
   .fade {
     -webkit-animation-name: fade;
     -webkit-animation-duration: 1.4s;
     animation-name: fade;
     animation-duration: 1.4s;
   }
   
   @-webkit-keyframes fade {
     from {opacity: .5}
     to {opacity: 2}
   }
   
   @keyframes fade {
     from {opacity: .5}
     to {opacity: 2}
   }

   /*media queries*/
   @media only screen and (max-width: 600px) {
     /* For mobile phones: */
     .logo {
       display: none;
     }

     .banner {
          width: 85%;
          margin: none;
     }
     
     section{
     padding: none;
     width: 100%;
     }

     .slideShow, .slideShow-container, .containers{
          max-width: 900px;
          position: relative;
          margin: auto;
          padding: inherit;
     }
   }
   
   
   